<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener</description>
        <listener-class>com.iucosoft.minisite.listeneri.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>cmsshoweditdepartamentserv</servlet-name>
        <servlet-class>com.iucosoft.minisite.servlete.cms.departamente.cmsshoweditdepartamentserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cmshomeserv</servlet-name>
        <servlet-class>com.iucosoft.minisite.servlete.cms.cmshomeserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cmsdepartamenteserv</servlet-name>
        <servlet-class>com.iucosoft.minisite.servlete.cms.departamente.cmsdepartamenteserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cmseditdepartamentserv</servlet-name>
        <servlet-class>com.iucosoft.minisite.servlete.cms.departamente.cmseditdepartamentserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cmsdeletedepartamentserv</servlet-name>
        <servlet-class>com.iucosoft.minisite.servlete.cms.departamente.cmsdeletedepartamentserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cmsshoweditdepartamentserv</servlet-name>
        <url-pattern>/cms/cmsshoweditdepartamentserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cmshomeserv</servlet-name>
        <url-pattern>/cms/cmshomeserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cmsdepartamenteserv</servlet-name>
        <url-pattern>/cms/cmsdepartamenteserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cmseditdepartamentserv</servlet-name>
        <url-pattern>/cms/cmseditdepartamentserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cmsdeletedepartamentserv</servlet-name>
        <url-pattern>/cms/cmsdeletedepartamentserv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
